		.filmTitle{
			font-weight: bold;
			text-transform: uppercase;
			color: red;
		}
		
		.filmTitle2{
			font-weight: bold;
		}
		
		.mainDefinition{
			background-color: yellow;
			color: blue;
		}
		
		.director{
			font-size: 20;
			font-weight: bold;
		}
		
		.actors{
			font-style: italic;
		}
		
		.mainActor{
			font-style: italic;
			font-weight: bold;
			color: blue;
			font-family: Verdana;
			background-color: #b7fff7;
		}